p.text-game {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.cross-btn-pop {
    display: flex;
    justify-content: end;
}

.cut-model .modal-body {
    padding-top: 0;
}

.cut-model button.btn-close {
    background-color: #fffdec;
    padding: 10px;
    opacity: 1;
    margin-top: 10px;
    margin-right: 10px;
}

.result-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal-content.cut-model svg.bi {
    color: #27b127;
}

.Refresh {
    margin-left: 10px;
}

/* Container for the home page */
.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 93%;
    margin: 0 auto;
}

/* User header at the top */
.user-header {
    background-color: #6200ee;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
}

.result-btn-wrapper button {
    background-color: #a855f7;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid #c082fb;
    text-transform: capitalize;
}

p.active-user {
    border: 2px solid #fff;
    padding: 2px 7px;
    border-radius: 20px;
    margin-bottom: 0;
}

/* User info styling */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

/* Centered text styling */
.centered-text {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

a.card-link-test.active {
    color: #444444;
}

.card-link.card-link-test {
    text-decoration: none;
    border: 1px solid #90cbc1;
    padding: 1px 9px 3px;
    border-radius: 70px;
    background-color: #edfafd;
    color: #dbdbdb;
    font-weight: 500;
}

.card {
    margin-top: 11px;
}

ul.list-group {
    padding-right: 4px;
}

.rules-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-video {
    display: flex;
    justify-content: center;
}

.main-video video {
    margin-bottom: 10px;
}

header.user-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    right: auto;
}

.owner-container {
    margin-top: 60px;
}

/* Responsive layout for smaller screens */
@media (max-width: 600px) {
    .user-name {
        font-size: 16px;
    }

    .centered-text {
        font-size: 20px;
    }
}