<!-- <p>rapidfire-game works!</p> -->
<section class="main-qustion-section rapid-fire-round">

    <div class="game-name-wrapper">
        <h3>KBC</h3>
    </div>

    <div class="audio-controller">
 
        <video controls class="d-none" #A6 muted playsinline
            [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A6'  }">
            <source src="assets/video/A6.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A10'}"
            #A10>
            <source src="assets/video/A10.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A9999'}"
            #A9999>
            <source src="assets/video/9999.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A3'}"
            #A3>
            <source src="assets/video/A3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A6666'}"
            #A6666>
            <source src="assets/video/6666.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A777'}"
            #A777>
            <source src="assets/video/777.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A12'}"
            #A12>
            <source src="assets/video/A12.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A7'}"
            #A7>
            <source src="assets/video/A7.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A22'}"
            #A22>
            <source src="assets/video/22.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A3333'}"
            #A3333>
            <source src="assets/video/3333.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A333'}"
            #A333>
            <source src="assets/video/333.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A1'}"
            #A1>
            <source src="assets/video/A1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A5'}"
            #A5>
            <source src="assets/video/A5.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A4'}"
            #A4>
            <source src="assets/video/A4.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A11'}"
            #A11>
            <source src="assets/video/A11.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A13'}"
            #A13>
            <source src="assets/video/A13.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A2222'}"
            #A2222>
            <source src="assets/video/2222.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A2'}"
            #A2>
            <source src="assets/video/A2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A8888'}"
            #A8888>
            <source src="assets/video/8888.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A5555'}"
            #A5555>
            <source src="assets/video/5555.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A9'}"
            #A9>
            <source src="assets/video/A9.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A33'}"
            #A33>
            <source src="assets/video/33.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A15'}"
            #A15>
            <source src="assets/video/A15.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A14'}"
            #A14>
            <source src="assets/video/A14.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A4444'}"
            #A4444>
            <source src="assets/video/4444.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A7777'}"
            #A7777>
            <source src="assets/video/7777.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A77'}"
            #A77>
            <source src="assets/video/77.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A44'}"
            #A44>
            <source src="assets/video/44.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A8'}"
            #A8>
            <source src="assets/video/A8.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <video controls class="d-none" muted playsinline [ngClass]="{'d-none': selectedQuestion.audiofile !== 'A444'}"
            #A444>
            <source src="assets/video/444.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
        <div style="display: none;">
            <button type="button" id="A6" (click)="A6.play()">Play 10</button>
            <button type="button" id="mute30" (click)="A6.muted = false">Play 10</button>
            <button type="button" id="stopButton0" (click)="A6.pause(); A6.currentTime = 0;">Stop 10</button>
 
            <button type="button" id="A10" (click)="A10.play()">Play 10</button>
            <button type="button" id="mute0" (click)="A10.muted = false">Play 10</button>
            <button type="button" id="stopButton1" (click)="A10.pause(); A10.currentTime = 0;">Stop 10</button>
 
 
            <button type="button" id="A9999" (click)="A9999.play()">Play 10</button>
            <button type="button" id="mute1" (click)="A9999.muted = false">Play 10</button>
            <button type="button" id="stopButton2" (click)="A9999.pause(); A9999.currentTime = 0;">Stop 10</button>
 
 
            <button type="button" id="A3" (click)="A3.play()">Play 10</button>
            <button type="button" id="mute2" (click)="A3.muted = false">Play 10</button>
            <button type="button" id="stopButton3" (click)="A3.pause(); A3.currentTime = 0;">Stop 10</button>
 
 
            <button type="button" id="A6666" (click)="A6666.play()">Play 10</button>
            <button type="button" id="mute3" (click)="A6666.muted = false">Play 10</button>
            <button type="button" id="stopButton4" (click)="A6666.pause(); A6666.currentTime = 0;">Stop 10</button>
 
 
            <button type="button" id="A777" (click)="A777.play()">Play 10</button>
            <button type="button" id="mute4" (click)="A777.muted = false">Play 10</button>
            <button type="button" id="stopButton5" (click)="A777.pause(); A777.currentTime = 0;">Stop 10</button>
 
            <!-- Added new video tags for the list -->
 
            <button type="button" id="A12" (click)="A12.play()">Play 12</button>
            <button type="button" id="mute5" (click)="A12.muted = false">Play 10</button>
            <button type="button" id="stopButton6" (click)="A12.pause(); A12.currentTime = 0;">Stop 12</button>
 
 
            <button type="button" id="A7" (click)="A7.play()">Play 7</button>
            <button type="button" id="mute6" (click)="A7.muted = false">Play 10</button>
            <button type="button" id="stopButton7" (click)="A7.pause(); A7.currentTime = 0;">Stop 7</button>
 
 
            <button type="button" id="A22" (click)="A22.play()">Play 22</button>
            <button type="button" id="mute7" (click)="A22.muted = false">Play 10</button>
            <button type="button" id="stopButton8" (click)="A22.pause(); A22.currentTime = 0;">Stop 22</button>
 
 
            <button type="button" id="A3333" (click)="A3333.play()">Play 3333</button>
            <button type="button" id="mute9" (click)="A3333.muted = false">Play 10</button>
            <button type="button" id="stopButton9" (click)="A3333.pause(); A3333.currentTime = 0;">Stop 3333</button>
 
 
            <button type="button" id="A333" (click)="A333.play()">Play 3333</button>
            <button type="button" id="mute10" (click)="A333.muted = false">Play 10</button>
            <button type="button" id="stopButton10" (click)="A333.pause(); A333.currentTime = 0;">Stop 3333</button>
 
 
            <button type="button" id="A1" (click)="A1.play()">Play 1</button>
            <button type="button" id="mute11" (click)="A1.muted = false">Play 10</button>
            <button type="button" id="stopButton11" (click)="A1.pause(); A1.currentTime = 0;">Stop 1</button>
 
 
            <button type="button" id="A5" (click)="A5.play()">Play 5</button>
            <button type="button" id="mute12" (click)="A5.muted = false">Play 10</button>
            <button type="button" id="stopButton12" (click)="A5.pause(); A5.currentTime = 0;">Stop 5</button>
 
 
            <button type="button" id="A4" (click)="A4.play()">Play 4</button>
            <button type="button" id="mute12" (click)="A4.muted = false">Play 10</button>
            <button type="button" id="stopButton13" (click)="A4.pause(); A4.currentTime = 0;">Stop 4</button>
 
 
            <button type="button" id="A11" (click)="A11.play()">Play 11</button>
            <button type="button" id="mute13" (click)="A11.muted = false">Play 10</button>
            <button type="button" id="stopButton14" (click)="A11.pause(); A11.currentTime = 0;">Stop 11</button>
 
 
            <button type="button" id="A13" (click)="A13.play()">Play 13</button>
            <button type="button" id="mute14" (click)="A13.muted = false">Play 10</button>
            <button type="button" id="stopButton15" (click)="A13.pause(); A13.currentTime = 0;">Stop 13</button>
 
            <button type="button" id="A5555" (click)="A5555.play()">Play 5555</button>
            <button type="button" id="mute15" (click)="A5555.muted = false">Play 10</button>
            <button type="button" id="stopButton16" (click)="A5555.pause(); A5555.currentTime = 0;">Stop 5555</button>
 
 
            <button type="button" id="A9" (click)="A9.play()">Play 9</button>
            <button type="button" id="mute16" (click)="A9.muted = false">Play 10</button>
            <button type="button" id="stopButton17" (click)="A9.pause(); A9.currentTime = 0;">Stop 9</button>
 
 
            <button type="button" id="A33" (click)="A33.play()">Play 33</button>
            <button type="button" id="mute18" (click)="A33.muted = false">Play 10</button>
            <button type="button" id="stopButton18" (click)="A33.pause(); A33.currentTime = 0;">Stop 33</button>
 
 
            <button type="button" id="A2222" (click)="A2222.play()">Play 2222</button>
            <button type="button" id="mute19" (click)="A2222.muted = false">Play 10</button>
 
            <button type="button" id="stopButton19" (click)="A2222.pause(); A2222.currentTime = 0;">Stop 2222</button>
 
 
            <button type="button" id="A8888" (click)="A8888.play()">Play 8888</button>
            <button type="button" id="mute20" (click)="A8888.muted = false">Play 10</button>
            <button type="button" id="stopButton20" (click)="A8888.pause(); A8888.currentTime = 0;">Stop 8888</button>
 
 
            <button type="button" id="A2" (click)="A2.play()">Play 2</button>
            <button type="button" id="mute21" (click)="A2.muted = false">Play 10</button>
            <button type="button" id="stopButton21" (click)="A2.pause(); A2.currentTime = 0;">Stop 2</button>
 
 
            <button type="button" id="A15" (click)="A15.play()">Play 15</button>
            <button type="button" id="mute22" (click)="A15.muted = false">Play 10</button>
            <button type="button" id="stopButton22" (click)="A15.pause(); A15.currentTime = 0;">Stop 15</button>
 
 
            <button type="button" id="A7777" (click)="A7777.play()">Play 7777</button>
            <button type="button" id="mute23" (click)="A7777.muted = false">Play 10</button>
            <button type="button" id="stopButton23" (click)="A7777.pause(); A7777.currentTime = 0;">Stop 7777</button>
 
            <button type="button" id="A77" (click)="A77.play()">Play 77</button>
            <button type="button" id="mute24" (click)="A77.muted = false">Play 10</button>
            <button type="button" id="stopButton24" (click)="A77.pause(); A77.currentTime = 0;">Stop 77</button>
 
 
            <button type="button" id="A4444" (click)="A4444.play()">Play 4444</button>
            <button type="button" id="mute25" (click)="A4444.muted = false">Play 10</button>
            <button type="button" id="stopButton25" (click)="A4444.pause(); A4444.currentTime = 0;">Stop 4444</button>
 
 
            <button type="button" id="A44" (click)="A44.play()">Play 44</button>
            <button type="button" id="mute26" (click)="A44.muted = false">Play 10</button>
            <button type="button" id="stopButton26" (click)="A44.pause(); A44.currentTime = 0;">Stop 44</button>
 
 
 
            <button type="button" id="A14" (click)="A14.play()">Play 14</button>
            <button type="button" id="mute27" (click)="A14.muted = false">Play 10</button>
            <button type="button" id="stopButton27" (click)="A14.pause(); A14.currentTime = 0;">Stop 14</button>
 
            <button type="button" id="A8" (click)="A8.play()">Play 8</button>
            <button type="button" id="mute28" (click)="A8.muted = false">Play 10</button>
            <button type="button" id="stopButton28" (click)="A8.pause(); A8.currentTime = 0;">Stop 8</button>
 
 
            <button type="button" id="A444" (click)="A444.play()">Play 444</button>
            <button type="button" id="mute29" (click)="A444.muted = false">Play 10</button>
            <button type="button" id="stopButton29" (click)="A444.pause(); A444.currentTime = 0;">Stop 444</button>
        </div>
 
 
        <!-- } -->
 
    </div>

    @if(selectedQuestion) {



    <div class="image-content-wrapper">

        <!-- <div class="center-container alpha-img-wrapper">
            <img src="{{selectedQuestion.image}}" alt="Centered Image" class="center-image">
        </div> -->

    </div>
    <div class="form-group">
        <div class="game-btn-wrapp">
            <div id="countdown" class="countdown">
                <div class="timer-box">
                    <div id="countdown-number">{{timervalue}}</div>
                </div>
            </div>
            <button type="button" class="rule-btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Rule
            </button>
        </div>
        <div class="button-group-wrapper">
            <label for="formGroupExampleInput">{{selectedQuestion.clue}} </label>
        </div>

            <div class="option-row-wrapper">
                <div class="options row" [hidden]="30 < timervalue">
                    @for (item of selectedQuestion.answerArray; track item; let i = $index) {
                    <div class="option col-lg-6" (click)="selectAnswer(item)"
                        [ngClass]="{'active': selectedQuestion['userAnswer'] == item, 'isWrite': selectedQuestion.isRight &&  selectedQuestion['userAnswer'] == item, 'isWrong': selectedQuestion.isWrong &&  selectedQuestion['userAnswer'] == item}">
                        {{item}}</div>
                    }
                    <button type="button" class="btn btn-primary option lock-btn col-lg-6"
                        (click)="saveAnswer( selectedQuestion)" [disabled]="!selectedQuestion['userAnswer']">lock</button>
    
                </div>
            </div>


    </div>
    }

    <div class="playername-wrapper">
        <p class="que-hint-text">
            <span>Player : </span>
            <span>{{playername}}</span>
        </p>
    </div>

</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rules</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">१. यह एक वर्ग पहेली है, जिसके क्लू दाये से बाये और ऊपर से
                        नीचे दिए गए है ।
                    </li>
                    <li class="list-group-item">२. इस पहेली को भरने के लिए २० मिनट का समय दिया जाएगा ।</li>
                    <li class="list-group-item">३. किसी भी cell पर क्लिक करके उसका clew देख सकते है ।</li>
                    <li class="list-group-item">४. पूरा सही जवाब भरते ही वो नंबर के ब्लॉक्स लॉक हो जाएँगे ।
                        ग़लत जवाब को edit किया जा सकता है ।</li>
                    <li class="list-group-item">५. End Game बटन को दबाते ही गेम समाप्त हो जाएगा, उसके बाद
                        कोई भी परिवर्तन असंभव है ।</li>
                    <li class="list-group-item">६. सबसे ज़्यादा प्रश्नों के सही उत्तर, जो कम समय में देगा वो
                        विनर होगा ।</li>
                </ul>
            </div>

        </div>
    </div>
</div>